<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/addToDailyIntake">
   <select name="nameFood" class="form-control">
        <option th:each="food: ${foods}"
                th:value="${food.name}" th:text="${food.name}"></option>
    </select>
    Weight in grams
    <input name="weight" type="number" step="0.01">
    <button type="submit">Choose</button>
</form>

<br>
<p>Food is missing? Fill the form to add a food</p>
<a href="/addNewFood">Here</a>
<br><br><br><br><br>
<a href="/menuDailyIntake">Back</a>
</body>
</html>
